<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:materialdesign="http://schemas.android.com/apk/res-auto"
    package="patienceshyu.tamatimer" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_egg"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="patienceshyu.tamatimer.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


        <service
            android:name="patienceshyu.tamatimer.LockService" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

        </service>

        <receiver
            android:name="ScreenReceiver" >
            </receiver>

    </application>



</manifest>
